<div class="container">
  <div class="row" style="margin-top: 10vh">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">聰明做金錢的主人<br>該記帳嘍！</h1>
        {{> messages}}
        <form action="/users/login" method="POST">
          <div class="form-group ">
            <label for="email">電子信箱</label>
            <input type="email" id="email" name="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password">密碼</label>
            <input type="password" id="password" name="password" class="form-control" />
          </div>
          <button type="submit" class="btn btn-outline-dark btn-block">登入</button>
          <!-- 新增 Facebook Login Button -->
          <a href="/auth/facebook" class="btn btn-outline-dark btn-block">Facebook 登入或註冊</a>
        </form>
        <p class="text-center mt-4">
          新用戶嗎？快來體驗 => <a href="/users/register">註冊</a>
        </p>
      </div>
    </div>
  </div>
</div>