<div class="container">
  <form action="/profile/edit?_method=PUT" method="post">
    <div class="card p-1" style="max-width: 540px; margin: 20vh auto;">
      <div class="row no-gutters">
        <div class="col-md-4 text-center p-3">
          <img src="{{user.image}}" class="card-img" alt="avatar"
            style="border-radius: 50%; width: 10em; height: 10em;">
        </div>
        <div class="col-md-8  p-3">
          <div class="card-body">
            <div class="form-group">
              <label for="name">姓名：</label>
              <input type="text" id="name" name="name" class="form-control" value="{{user.name}}">
            </div>
            <p class="card-text">{{user.email}}</p>
            <button type="submit" class="btn btn-outline-dark">確定</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>