<div class="container">
  <div class="card p-1" style="max-width: 540px; margin: 20vh auto;">
    <div class="row no-gutters">
      <div class="col-md-4 text-center p-3">
        <img src="{{user.image}}" class="card-img" alt="avatar" style="border-radius: 50%; width: 10em; height: 10em;">
      </div>
      <div class="col-md-8  p-3">
        <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text"><small class="text-muted">Last updated {{date}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>