<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="container">
  <h1 class="text-center my-3">支出統計</h1>
  <div class="row my-3">
    <div class="col-md-6 col-12 text-center m-auto py-3 border border-dark rounded">
      <h3>總支出花費</h3>
      <h1>{{{totalSpend}}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12">
      <div id="category-spend"></div>
    </div>
    <div class="col-md-6 col-12">
      <div id="monthly-spend"></div>
    </div>
  </div>
</div>


<script language="JavaScript">
  $(document).ready(function () {
    //monthly-spend
    const monthlySpendData = {}
    monthlySpendData.title = {
      text: '每月花費金額'
    };
    monthlySpendData.subtitle = {
      text: '2019/01/01 - 2019/12/31'
    };
    monthlySpendData.xAxis = {
      categories: ['一月', '二月', '三月', '四月', '五月', '六月'
        , '七月', '八月', '九月', '十月', '十一月', '十二月']
    };
    monthlySpendData.yAxis = {
      title: {
        text: '花費金額'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }]
    };

    monthlySpendData.tooltip = {
      valueSuffix: ''
    }

    monthlySpendData.legend = {
      layout: 'vertical',
      borderWidth: 0
    };

    monthlySpendData.series = [
      {
        name: '{{ user.name }}',
        data: [
          {{#each monthlySpend }}
            {{this}},
          {{/each}}
        ]
      }
    ]
  $('#monthly-spend').highcharts(monthlySpendData)
  
  //category-spend
  const categorySpendData = {}
  categorySpendData.chart = {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false
    };
    categorySpendData.title = {
      text: '各類別花費占比'
    };
    categorySpendData.tooltip = {
      pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    };
    categorySpendData.plotOptions = {
      pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
          enabled: true,
          format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
          style: {
            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
          }
        }
      }
    };
    categorySpendData.series = [{
      type: 'pie',
      name: '花費占比',
      data: {{{categorySpendData}}}
    }];
    $('#category-spend').highcharts(categorySpendData);  
  });
</script>