<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="container">
  <h1 class="text-center my-5">支出統計</h1>
  <div class="row">
    <div class="col-12">
      <div id="monthly-spend"></div>
    </div>
  </div>
</div>


<script language="JavaScript">
  $(document).ready(function () {
    var title = {
      text: '每月花費金額'
    };
    var subtitle = {
      text: '2019/01/01 - 2019/12/31'
    };
    var xAxis = {
      categories: ['一月', '二月', '三月', '四月', '五月', '六月'
        , '七月', '八月', '九月', '十月', '十一月', '十二月']
    };
    var yAxis = {
      title: {
        text: '花費金額'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }]
    };

    var tooltip = {
      valueSuffix: ''
    }

    var legend = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
    };

    var series = [
      {
        name: '{{ user.name }}',
        data: [
          {{#each monthlySpend }}
            {{this}},
          {{/each}}
        ]
      }
    ];

  var json = {};

  json.title = title;
  json.subtitle = subtitle;
  json.xAxis = xAxis;
  json.yAxis = yAxis;
  json.tooltip = tooltip;
  json.legend = legend;
  json.series = series;

  $('#monthly-spend').highcharts(json);
  });
</script>